.group {
  margin: 1.5rem 0;
}

.title {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin-right: 3px;
  margin-bottom: 1.5rem;
}
.dividerType {
  background-color: #73c8f2;
  writing-mode: vertical-rl;
  text-orientation: upright;
  /* transform: rotate(180deg); */
  width: 2.8rem;
  font-size: 1rem;
  line-height: 0.9rem;
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
}
.dividerMain {
  flex: 1;
}
