.dividerType {
  background-color: #73c8f2;
  writing-mode: vertical-rl;
  text-orientation: upright;
  /* transform: rotate(180deg); */
  width: 2.8rem;
  font-size: 0.9rem;
  line-height: 0.9rem;
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
}
.dividerMain {
  flex: 1;
}
.divider {
  /* box-sizing: content-box; */
  display: block;
  height: 1px;
  width: calc(100% - 7px);
  margin: 26px 4px;
  border-top: 1px solid var(--color5);
}
.divider2 {
  display: block;
  height: 1px;
  width: calc(100% - 7px);
  margin: 26px 4px;
  border-top: 1px solid var(--color6);
}
.dividerText {
  position: absolute;
  background-color: #fff;
  padding: 0 12px;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: rgba(0, 0, 0, 0.75);

  left: 44px;
  transform: translateY(-50%);
}
.catTitle {
  writing-mode: vertical-rl;
  text-orientation: upright;
  /* transform: rotate(180deg); */
  width: 3rem;
  font-size: 0.9rem;
  line-height: 0.9rem;
  padding: 1rem 0rem;
}

.catTitleText {
  max-height: 130px;
}

.icon {
  margin-top: -2px;
  font-size: 0.9rem;
}

.subcatTitle {
  font-size: 0.8rem;
  height: 2rem;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--card-size-width));
  grid-auto-rows: var(--card-size-height);
  gap: var(--card-gap);
  /* justify-content: center; */
}

.loading {
  min-height: calc(var(--app-height) - 92px - 36px);
}
